<% if @current_contact %>
  <%= turbo_stream_from @current_contact, :messages %>
<% end %>

<div class="h-screen flex flex-col">
  <header class="bg-white border-b border-gray-200 px-6 py-3 flex items-center justify-between shrink-0">
    <h1 class="text-xl font-bold text-gray-900">Phlex Inbox</h1>
    <%= render SearchBarComponent.new %>
  </header>

  <div class="flex flex-1 overflow-hidden">
    <aside class="w-56 bg-white border-r border-gray-200 overflow-y-auto shrink-0">
      <%= render @sidebar %>
    </aside>

    <div class="w-96 border-r border-gray-200 overflow-y-auto bg-white shrink-0">
      <turbo-frame id="message_list" src="<%= @message_list_path %>">
        <div class="skeleton animate-pulse">
          <% 8.times do %>
            <%= render MessageRowSkeletonComponent.new %>
          <% end %>
        </div>
      </turbo-frame>
    </div>

    <main class="flex-1 overflow-y-auto bg-white">
      <turbo-frame id="message_detail" <% if @message_detail_path %>src="<%= @message_detail_path %>"<% end %>>
        <%= render MessageDetailSkeletonComponent.new %>
      </turbo-frame>
    </main>
  </div>
</div>
